/* productThumbnails */
.product-thumbnail {
  position: relative;
  pointer-events: none;
}
.product-thumbnail.is-selected .thumbnail-view {
  pointer-events: all;
  cursor: pointer;
}
.product-thumbnail.is-selected::after {
  content: 'x';
  font-size: 28px;
  line-height: 1.35;
  font-weight: bold;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 44px;
  height: 44px;
  text-align: center;
  opacity: 0;
  cursor: pointer;
}
.product-thumbnail.is-selected:hover::after {
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}


/* productThumbnails end */